= link_to room_path(room), class: "roomIndex-link" do
  .roomIndex-item
    .roomIndex-item_image
      = image_tag room.room_images.first.image.url(:index)
    .roomIndex-item_bottom
      .roomIndex-item_bottomName
        = room.name
      .roomIndex-item_bottomRent
        = "#{room.rent&.to_s(:delimited)} 円/ month"
      .roomIndex-item_bottomFacility
        = room.facility
