.rooms-index
  .rooms-index_sidebar
    = render "layouts/sidebar"
  .rooms-index_main
    .rooms-index_main-bxslider
      = render "rooms/bxslider"














%p
  - @rooms.each do |room|
    = link_to room.name, room_path(room)
    = "#{room.ward}区"
