.rooms-show
  .rooms-show_sidebar
    = render "rooms/show_sidebar"
  .rooms-show_main
    .roomsShowMain
      .roomsShowMain_name
        = @room.name
      .roomsShowMain_image
        .roomsShowMain_imageLeft
          = image_tag @a_image.image.url(:show), class: "roomsShowMain_imageLeftItem"
        .roomsShowMain_imageRight
          - @images.each do |image|
            .roomsShowMain_imageRightItem{data: {imageid: image.id}}
              = image_tag image.image.url(:thumb)
      .roomsShowMain_descripion
        .roomsShowMain_descripionTitle
          〜物件紹介〜
        .roomsShowMain_descripionContent
          = simple_format @room.description

      #map{:style => "width: 600px; height: 500px;"}

.rooms-shows
#mask.hidden

:javascript
  handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": #{@room.latitude},
            "lng": #{@room.longitude},
        "infowindow": '<p>#{@room.address}</p><p>#{link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:\#{@room.latitude},\#{@room.longitude}&iwloc=J",target: "_blank"}</p>'
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(17);
      });
