.rooms-show
  .rooms-show_sidebar
    = render "show_sidebar"
  .rooms-show_main
    .roomsShowMain
      .roomsShowMain_name
        = @room.name
      .roomsShowMain_image
        .roomsShowMain_imageLeft
          = image_tag @a_image.image.url(:show), class: "roomsShowMain_imageLeftItem"
        .roomsShowMain_imageRight
          = render partial: "show_photoList", collection: @images, as: :image
      .roomsShowMain_descripion
        .roomsShowMain_descripionTitle
          物件紹介
        .roomsShowMain_descripionContent
          = simple_format @room.description
      .g-map
        .g-map_title
          MAP
        #g-map
.rooms-shows
#mask.hidden

:javascript
  handler = Gmaps.build('Google');
      handler.buildMap({ provider: { scrollwheel: true }, internal: {id: 'g-map'}}, function(){
        markers = handler.addMarkers([
          {
            "lat": #{@room.latitude},
            "lng": #{@room.longitude},
        "infowindow": '<p>#{@room.address}</p><p>#{link_to "Googleマップで見る" ,"https://maps.google.co.jp/maps?q=loc:\#{@room.latitude},\#{@room.longitude}&iwloc=J",target: "_blank"}</p>'
          }
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(16);
      });
