.rooms-show
  .rooms-show_sidebar
    = render "layouts/show_sidebar"
  .rooms-show_main
    .roomsShowMain
      .roomsShowMain_name
        = @room.name
      .roomsShowMain_image
        .roomsShowMain_imageLeft
          - @images.each do |image|
            = image_tag image.image.url(:show)
        .roomsShowMain_imageRight
          - @images.each do |image|
            .roomsShowMain_imageRightItem{data: {imageid: image.id}}
              = image_tag image.image.url(:thumb)
      .roomsShowMain_descripion
        .roomsShowMain_descripionTitle
          〜物件紹介〜
        .roomsShowMain_descripionContent
          = simple_format @room.description
