.top-header_wrapper
  .top-header-upper.clearfix
    .top-header-upper_left
      .top-header-upper_left-title
        ShowRoom
    %ul.top-header-upper_right
      %li
        = link_to "HOME", rooms_path, class: "top-header-upper_right-item"
      %li
        = link_to "ABOUT", "#", class: "top-header-upper_right-item"
      %li
        = link_to "LINK", root_path, class: "top-header-upper_right-item"
      %li
        = link_to "LIKE", "#", class: "top-header-upper_right-item"
  .top-header-bottom
    %ul.top-header-bottom-menu
      %li
        = link_to "部屋タイプから", "#", class: "top-header-bottom-menu-item"
      %li
        = link_to "地域から", "#", class: "top-header-bottom-menu-item"
      %li
        = link_to "カテゴリから", "#", class: "top-header-bottom-menu-item"
      %li
        = link_to "その他", "#", class: "top-header-bottom-menu-item"
