.sidebar-wrapper
  %ul.sidebar-list
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
    %li
      = link_to "Lorem ipsum", "#", class: "sidebar-list-item"
